@import url("https://fonts.googleapis.com/css?family=Manrope:400,600&display=swap");

.headerContainer {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo h1 {
  font-size: 1.8rem;
  font-family: var(--body-font);
  color: var(--theme-color);
}

.searchBar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 25px;
  transition: width 0.3s ease-in-out;
}

.searchBar.expanded {
  width: 250px; /* Khi mở rộng */
}

.searchBar input {
  width: 100%;
  padding: 8px 15px;
  border: 1px solid #333;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.searchBar.expanded input {
  opacity: 1;
}

.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--theme-color);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding: 0px;
}

.searchIcon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.headerLinks {
  display: flex;
  align-items: center;
  list-style: none;
}

.headerLinks li {
  margin-left: 20px;
}

.headerLinks a {
  text-decoration: none;
  color: var(--body-color);
  font-weight: 500;
  font-family: var(--body-font);
  transition: color 0.3s;
}

.headerLinks a:hover {
  color: var(--theme-color);
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.avatar {
  font-size: 24px; /* Kích thước icon avatar */
}

.accountInfo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.accountInfo {
  position: relative;
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profileLink {
  display: flex;
  align-items: center;
}

.profileLink span {
  margin-left: 5px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: -8px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0;
  margin: 5px 0px;
  list-style: none;
  display: block;
}

.dropdownMenu li {
  margin: 0;
  padding: 10px 25px;
  white-space: nowrap;
  text-decoration: none;
  color: #333;
  display: block;
  font-weight: 600;
}

.dropdownMenu li:hover {
  cursor: pointer;
  background-color: #f4f4f4;
  color: #0be881;
}

/* Hình tam giác trên dropdown */
.dropdownMenu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
}
