.subCategoriesContainer {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #333333;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.addButton {
  margin-left: auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addButton:hover {
  background-color: #0056b3;
}

.filter {
  margin-bottom: 20px;
}

.filter label {
  font-weight: bold;
}

.searchAndSelect {
  display: flex;
  gap: 10px;
  align-items: center;
}

.searchInput {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 200px;
  transition: border-color 0.3s ease;
}

.searchInput:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.selectInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.selectInput:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.subCategoriesTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.subCategoriesTable th,
.subCategoriesTable td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.subCategoriesTable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.actions {
  display: flex;
  gap: 10px;
}

.editButton {
  padding: 5px 10px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #218838;
}

.deleteButton {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #c82333;
}

.popupMessage {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}

.deleteMultipleButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.deleteMultipleButton:hover {
  background-color: #cc0000;
}
